@model IdentityArtShop.Models.IndexViewModel
@{
    ViewBag.Title = "Manage your account";
}


    <div class="col-5" style="margin-top:50px">
        <h2>@ViewBag.Title.</h2>
        <p class="text-success">@ViewBag.StatusMessage</p>
        <div>
            <p>
                @(Model.HasPassword ? Html.ActionLink("Change your password", "ChangePassword")
                : Html.ActionLink("Pick a password", "SetPassword"))
            </p>
            <p>
                Phone Number: @(Model.PhoneNumber ?? "None") [
                @if (Model.PhoneNumber != null)
                {
    @Html.ActionLink("Change", "AddPhoneNumber")
                    @: &nbsp;|&nbsp;
                    @Html.ActionLink("Remove", "RemovePhoneNumber") }
                                else
                                {
                    @Html.ActionLink("Add", "AddPhoneNumber")            }
                ]
            </p>
            <p>
                External Logins: @Model.Logins.Count
                @Html.ActionLink("[Manage]", "ManageLogins")
            </p>
            @if (Model.TwoFactor)
            {
                using (Html.BeginForm("DisableTFA", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
    @Html.AntiForgeryToken()
                        <p>
                            Two factor is currently enabled:
                            <input type="submit" value="Disable" class="btn amado-btn" />
                        </p> }
                                    }
                                    else
                                    {
                                        using (Html.BeginForm("EnableTFA", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                        {
                        @Html.AntiForgeryToken()
                                            <p>
                                                Two factor is currently disabled:
                                                <input type="submit" value="Enable" class="btn amado-btn" />
                                            </p>}
                                                        }
            @if (Model.BrowserRemembered)
            {
                using (Html.BeginForm("ForgetBrowser", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
    @Html.AntiForgeryToken()
                        <p>
                            Browser is curently remembered for two factor:
                            <input type="submit" value="Forget Browser" class="btn amado-btn" />
                        </p> }
                                    }
                                    else
                                    {
                                        using (Html.BeginForm("RememberBrowser", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                        {
                        @Html.AntiForgeryToken()
                                            <p>
                                                Browser is curently not remembered for two factor:
                                                <input type="submit" value="Remember Browser" class="btn amado-btn" />
                                            </p>}
                                                        }
        </div>
    </div>
