@model ArtShop.Entities.Model.Artist
    @{ Layout = null;}

<h3>Esta seguro de eliminar este Artista?</h3>
<div>
    <hr />
    @using (Html.BeginForm("Eliminar", "Artist", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.FirstName)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.FirstName)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.LastName)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.LastName)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.LifeSpan)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.LifeSpan)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Country)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Country)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Description)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Description)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.TotalProducts)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.TotalProducts)
    </dd>


</dl>

        
        @*@Html.AntiForgeryToken()*@

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Eliminar" class="btn btn-outline-primary btn-icon-text" />
        <button type="button" class="btn btn-outline-danger btn-icon-text" data-dismiss="modal" aria-hidden="true">Cancel</button>
    </div>
</div>
        }
    </div>
