@{ @model IEnumerable<ArtShop.Entities.Model.CartItem>
double Total = ViewBag.Total;
var ship = ViewBag.Ship;
}
<head>

</head>
<div class="cart-table-area section-padding-0-100">
    <div class="container-fluid">

        <div class="row">
            <div class="col-8 col-lg-8">
                <div class="cart-title mt-50">
                    <h2>Checkout</h2>
                </div>

                @foreach (var item in Model)
                {
                    var total = item.Price * item.Quantity;
                    <div class="row cart-summarypersonal">

                        <div class="col-4 col-lg-3">
                            <img src=@String.Format("data:image/gif;base64,{0}", item.Product.Image) alt="Product" style="max-height:200px">
                        </div>

                        <div class="col-6 col-lg-9">
                            <ul>
                                <li><h5>@item.Product.Title</h5>  </li>

                                <li>Precio: $ @item.Price </li>
                                <li>Cantidad: @item.Quantity</li>
                                <li>Total: $ @total</li>

                            </ul>
                        </div>
                    </div>

                }


            </div>

            @*<div class="col-12 col-lg-4">
                <div class="cart-summary">
                    <h5>Cart Total</h5>
                    <ul class="summary-table">
                        <li><span>subtotal:</span> <span>@Total</span></li>
                        <li><span>delivery:</span> <span>Free</span></li>
                        <li><span>total:</span> <span>@Total</span></li>
                    </ul>*@
            @*<div class="cart-btn mt-100" style="padding-top:20px; padding-left:30px">
                    <a href="cart.html" class="btn amado-btn w-100">Pagar</a>
                </div>*@
            @*</div>
                </div>*@
            <div class="col-12 col-lg-4">

                <div class="cart-summary">
                    <h5>Cart Total</h5>
                    <ul class="summary-table">
                        <li><span>subtotal:</span> <span>@Total</span></li>
                        <li><span>delivery:</span> <span>Free</span></li>
                        <li><span>total:</span> <span>@Total</span></li>
                    </ul>
                    <form action="procesar_pago" method="post">
                        @*@Html.Action("pago_partial")*@
                        <script src="~/Scripts/web-tokenize-checkout.js"
                                data-public-key="TEST-cb07c85a-63b9-44fa-80a9-e2dd1e27390b"
                                data-transaction-amount="@Total">
                        </script>
                    </form>
                </div>

            </div>
        </div>
        <div class="row cart-summarypersonal" cart-summarypersonal" @*data-bind="Shipping"*@>
            <div class="cart-title mt-50">
                <h2>Envío y Facturación</h2>
            </div>
            <div class="col-md-6 mb-3">
                <label data-bind="text: ship.FirstName">FirstName</label>
            </div>
            <div class="col-md-6 mb-3">
                <p data-bind="text: ship.LastName"></p>
            </div>
            <div class="col-md-6 mb-3">
                <p data-bind="text: ship.Email">a</p>
            </div>
            <div class="col-md-6 mb-3">
                <p data-bind="text: ship.Address">a</p>
            </div>
            <div class="col-md-6 mb-3">
                <p data-bind="text: ship.City"></p>
            </div>
            <div class="col-md-6 mb-3">
                <p data-bind="text: ship.Country"></p>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/knockout-3.5.1.js"></script>
<script src="~/Scripts/knockout.mapping-latest.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    var AppViewModel = function () {
        var self = this;
        self.ship = ko.mapping.fromJS([]);

        $.getJSON("/Cart/GetShip",
            function (data) {
                ko.mapping.fromJS(data, {}, self.ship);
            });
    }

    var viewModel = new AppViewModel();
    ko.applyBindings(viewModel);

</script>


