@{ @model IEnumerable<ArtShop.Entities.Model.CartItem>
double Total = ViewBag.Total;

}

<div class="cart-table-area section-padding-100">
    <div class="container-fluid">

        <div class="row">
            <div class="col-8 col-lg-8">
                <div class="cart-title mt-50">
                    <h2>Checkout</h2>
                </div>

                @foreach (var item in Model)
                {
                    var total = item.Price * item.Quantity;
                    <div class="row cart-summarypersonal">

                        <div class="col-4 col-lg-3">
                            <img src=@String.Format("data:image/gif;base64,{0}", item.Product.Image) alt="Product" style="max-height:200px">
                        </div>

                        <div class="col-6 col-lg-9">
                            <ul>
                                <li><h5>@item.Product.Title</h5>  </li>

                                <li>Precio: $ @item.Price </li>
                                <li>Cantidad: @item.Quantity</li>
                                <li>Total: $ @total</li>

                            </ul>
                        </div>
                    </div>

                }

            </div>
            @*<div class="col-12 col-lg-4">
        <div class="cart-summary">
            <h5>Cart Total</h5>
            <ul class="summary-table">
                <li><span>subtotal:</span> <span>@Total</span></li>
                <li><span>delivery:</span> <span>Free</span></li>
                <li><span>total:</span> <span>@Total</span></li>
            </ul>*@
            @*<div class="cart-btn mt-100" style="padding-top:20px; padding-left:30px">
                <a href="cart.html" class="btn amado-btn w-100">Pagar</a>
            </div>*@
            @*</div>
        </div>*@
            <div class="col-12 col-lg-4">

                <div class="cart-summary">
                    <h5>Cart Total</h5>
                    <ul class="summary-table">
                        <li><span>subtotal:</span> <span>@Total</span></li>
                        <li><span>delivery:</span> <span>Free</span></li>
                        <li><span>total:</span> <span>@Total</span></li>
                    </ul>
                    @using (Html.BeginForm("Shipping", "Cart", FormMethod.Get))
                    {
                        <div class="cart-btn mt-100">
                            <button type="submit" class="btn amado-btn w-100">Proceder con el Pago</button>
                        </div>
                    }
                </div>

            </div>
        </div>

    </div>
</div>
